<div class="row justify-content-center mt-5">
  <div class="col-lg-3 col-sm-5 col-9">

    <div *ngIf="errorMessage" class="alert alert-danger">
      <i class="fas fa-exclamation error-icon"></i>
      {{errorMessage}}
    </div>

    <div class="form-group row mb-5">
      <label class="col-8 col-form-label">Game invite</label>
      <div class="col-4">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="notificationSettings.gameInvite" (ngModelChange)="updateSettings()">
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <hr>

    <div class="form-group row mt-5">
      <label class="col-8 col-form-label">Turn played</label>
      <div class="col-4">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="notificationSettings.turnPlayed" (ngModelChange)="updateSettings()">
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-8 col-form-label">Your turn</label>
      <div class="col-4">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="notificationSettings.yourTurn" (ngModelChange)="updateSettings()">
          <span class="slider round"></span>
        </label>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-8 col-form-label">Turn expired</label>
      <div class="col-4">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="notificationSettings.turnExpired" (ngModelChange)="updateSettings()">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
</div>
