<div class="background">
  <div class="login">
    <h1 class="mb-5 title">Stratego</h1>
    <form class="login-form" (submit)="onLogin(loginForm)" #loginForm="ngForm" ngNativeValidate>

      <span *ngIf="errorMessage" class="badge badge-danger error-message mb-2">
        <i class="fas fa-exclamation error-icon"></i>
        {{errorMessage}}
      </span>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input type="text"
               name="name"
               id="name"
               class="form-control"
               placeholder="Username or email*"
               required
               [disabled]="isLoading"
               [ngClass]="nameInput.invalid && (!loginForm.pristine || loginForm.touched) || (loginForm.submitted && nameInput.invalid) ? 'invalid' : ''"
               ngModel
               #nameInput="ngModel">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-key"></i></span>
        </div>
        <input type="password"
               name="password"
               id="password"
               class="form-control"
               placeholder="Password*"
               ngModel
               [disabled]="isLoading"
               [ngClass]="passwordInput.invalid && (!loginForm.pristine || loginForm.touched) || (loginForm.submitted && passwordInput.invalid) ? 'invalid' : ''"
               required
               #passwordInput="ngModel">
      </div>

      <button type="submit" class="btn btn-primary btn-block" id="login">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </span>
        {{isLoading ? '' : 'Log in'}}
      </button>

    </form>

    <div class="links mt-1">
      <span (click)="openForgotPwModal()">Forgot password?</span>
      <span (click)="openRegisterModal()" id="register">Need an account?</span>
    </div>

    <hr>

    <div class="socialmedia">
      <button class="btn google" (click)="loginWithGoogle()"><i class="fab fa-google"></i>Google</button>
      <button class="btn facebook" (click)="loginWithFacebook()"><i class="fab fa-facebook"></i>Facebook</button>
    </div>

  </div>
</div>
