@import "~src/styles.scss";

.background {
  background: /* top, transparent black, faked with gradient */
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
      /* bottom, image */
    url('~src/assets/img/field.jpg') no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.login {
  width: 25%;
  padding: 0 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(25% / -2);
  //Height of form / -2 - height of title (incl padding)
  margin-top: calc((420px / -2) - calc(176px / 2));

  h1 {
    width: 17rem;
    margin: 0 auto;
  }

  .links, .socialmedia {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 0.95rem;
      text-decoration: underline;
      color: $egg-white;

      &:hover {
        color: darken($egg-white, 20%);
      }
    }

    span:hover {
      cursor: pointer;
    }
  }

  .socialmedia > button > i {
    padding-right: 0.5rem;
  }

  .socialmedia > button {
    width: 48%;
  }
}

.links {
  * {
    cursor: pointer;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .login {
    width: 40%;
    margin-left: calc(40% / -2);
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .login {
    width: 55%;
    margin-left: calc(55% / -2);
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .login {
    width: 70%;
    margin-left: calc(70% / -2);
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .login {
    width: 95%;
    margin-left: calc(95% / -2);
  }
}
