<div class="app">
  <div class="chat-header d-flex c-pointer" (click)="closeTab()">
    <i class="fas fa-comments"></i><span>Chat</span>
  </div>
  <div class="chat-body">
    <ul class="messages">
      <li class="message" *ngFor="let gameMessage of gameMessages"
          [ngClass]="gameMessage.playerName != playerName ? '' : 'me'">
        <div>
          <span *ngIf="gameMessage.playerName != playerName">{{gameMessage.playerName}}: </span>{{gameMessage.message}}
          <div class="time-date">{{gameMessage.date | date: "H:m d MMM"}}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="chat-area">
    <form class="message-form" (submit)="onMessageSend(messageForm)" #messageForm="ngForm">
      <input type="text"
             name="message"
             id="message"
             class="form-control"
             placeholder="Message"
             required
             ngModel>
    </form>
  </div>
  <div class="chat-button">
    <button (click)="onMessageSend(messageForm)" type="submit" class="btn btn-primary btn-block messageButton">
      Send
    </button>
  </div>
</div>
