@import "~src/styles.scss";

.app {
  //give parent 100% to work with fr
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 9.5fr 0.5fr;
  grid-template-areas: "chat-header chat-header" "chat-body chat-body" "chat-area chat-button";
}

.chat-header {
  grid-area: chat-header;
  height: 100%;
  background-color: $primary;
  color: white;
  display: flex;
  align-items: center; /* align vertical */
  padding-left: 15px;
  font-size: 175%;
  border-bottom: 1px solid white;
}

.chat-body {
  grid-area: chat-body;
  background-color: $egg-white;
  overflow-y: scroll;
  border-bottom: 1px solid white;
}

.chat-area {
  height: 100%;
  grid-area: chat-area;
}

.chat-area > form {
  height: 100%;
}

.chat-area > form > input {
  height: 100%;
}

.chat-button {
  grid-area: chat-button;
  background-color: $primary;
}

.chat-button > button {
  height: 100%;
}


.message-form > .form-control {
  border-radius: 0 !important;
}

.message {
  color: #fff;
  clear: both;
  padding: 10px;
  border-radius: 1rem;
  margin: 4px;
  width: fit-content;
  height: 100%;
  background-color: #BFC0C3;
}

.messages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time-date {
  font-size: 0.5rem;
  float: bottom;
}

.other {
  background-color: $egg-white;
}

.me {
  align-self: flex-end;
  background-color: $primary;
}

i {
  margin-right: 0.4rem;
}
