@import "~src/styles.scss";

.replay-container {
  border: solid $egg-white 2px;
  border-radius: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($egg-white, 0.3);

  &:hover {
    background-color: rgba($egg-white, 0.6);
    cursor: pointer;
  }
}

.green {
  color: $green;
}

.red {
  color: $red;
}
