<div (click)="selectReplay(id)" class="row replay-container mb-2 p-2 p-md-3">
  <div class="col-12 col-md-8">
    <h1 class="font-weight-bold" [ngClass]="victory ? 'green' : 'red'">
      <i *ngIf="victory" class="fas fa-crown"></i>
      <i *ngIf="!victory" class="fas fa-skull-crossbones"></i>
      {{victory ? 'Victory' : 'Defeat️'}}
    </h1>
    <h4>{{boardType}}</h4>
  </div>

  <div class="col-12 col-md-4 float-right mt-3 mt-md-0">
    <h5 class="text-left text-md-right">{{endTime}}</h5>
  </div>
</div>
