<div class="modal-header">
  <h5 class="modal-title pull-left">
    {{title}}
  </h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="login-form" (submit)="onRegister(registerForm)" #registerForm="ngForm" ngNativeValidate>
      <span *ngIf="errorMessage" class="badge badge-danger error-message mb-2">
        <i class="fas fa-exclamation error-icon"></i>
        {{errorMessage}}
      </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-user"></i></span>
      </div>
      <input type="text"
             name="username"
             id="username"
             class="form-control"
             placeholder="Username*"
             required
             [disabled]="isLoading"
             [ngClass]="usernameForm.invalid && (!registerForm.pristine || registerForm.touched) || (registerForm.submitted && usernameForm.invalid) ? 'invalid' : ''"
             ngModel
             #usernameForm="ngModel">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
      </div>
      <input type="text"
             name="email"
             id="email"
             class="form-control"
             placeholder="Email*"
             required
             [disabled]="isLoading"
             [ngClass]="emailInput.invalid && (!registerForm.pristine || registerForm.touched) || (registerForm.submitted && emailInput.invalid) ? 'invalid' : ''"
             ngModel
             email
             #emailInput="ngModel">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-key"></i></span>
      </div>
      <input type="password"
             name="password"
             id="passwordRegister"
             class="form-control"
             placeholder="Password*"
             ngModel
             [disabled]="isLoading"
             [ngClass]="passwordInput.invalid && (!registerForm.pristine || registerForm.touched) || (registerForm.submitted && passwordInput.invalid) ? 'invalid' : ''"
             required
             #passwordInput="ngModel">
    </div>
    <button type="submit" class="btn btn-primary btn-block" id="submit">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </span>
      {{isLoading ? '' : 'Register'}}</button>
  </form>
</div>
<div class="modal-footer">
  <div class="socialmedia">
    <button class="btn google" (click)="openChooseUsernameModal('Google')"><i class="fab fa-google"></i>Google
    </button>
    <button class="btn facebook" (click)="openChooseUsernameModal('Facebook')"><i class="fab fa-facebook"></i>Facebook
    </button>
  </div>
</div>
