@import "~src/styles.scss";

.socialmedia {
  width: 100%;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 0.95rem;
    text-decoration: underline;
    color: $egg-white;

    &:hover {
      color: darken($egg-white, 20%);
    }
  }

  span:hover {
    cursor: pointer;
  }
}

hr {
  border-color: $onyx;
}

.socialmedia > button > i {
  padding-right: 0.5rem;
}

.socialmedia > button {
  width: 48%;
}
