@import '~src/customize-bootstrap';

.background {
  color: $egg-white;
  background: /* top, transparent black, faked with gradient */
    linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ),
      /* bottom, image */
    url("../../../../assets/img/map.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner-size {
  height: 2rem;
  width: 2rem;
}
