<div class="modal-header">
  <h5 class="modal-title pull-left font-weight-bold">Don't worry, it happens to the best of us.</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Just enter your email, and we'll send you an email to reset your password. Easy!
  </p>
  <form #forgotPwForm="ngForm" (submit)="onSubmit(forgotPwForm)">

    <span *ngIf="errorMessage" class="badge badge-danger error-message mb-2">
        <i class="fas fa-exclamation error-icon"></i>
      {{errorMessage}}
    </span>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
      </div>
      <input type="text"
             required
             #emailInput="ngModel"
             ngModel
             placeholder="email*"
             name="email"
             class="form-control"
             email
             [ngClass]="emailInput.invalid && (!forgotPwForm.pristine || forgotPwForm.touched) || (forgotPwForm.submitted && emailInput.invalid) ? 'invalid' : ''">
    </div>
    <button class="btn btn-primary btn-block" type="submit">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </span>
      {{isLoading ? '' : 'Reset password'}}
    </button>
  </form>
</div>
