<div class="row justify-content-center mt-5">
  <div class="col-12 col-md-6 col-xl-5">
    <form #emailForm="ngForm" (submit)="onSubmit(emailForm)">

          <span *ngIf="errorMessage" class="badge badge-danger error-message mb-2">
            <i class="fas fa-exclamation error-icon"></i>
            {{errorMessage}}
          </span>

      <span *ngIf="successMessage" class="badge badge-success success-message mb-2">
            <i class="fas fa-info success-icon"></i>
        {{successMessage}}
          </span>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
        </div>
        <input type="email"
               class="form-control"
               id="email"
               placeholder="Email"
               name="email"
               email
               required
               [(ngModel)]="email"
               #emailInput="ngModel"
               [ngClass]="emailInput.invalid && (!emailForm.pristine || emailForm.touched) || (emailForm.submitted && emailInput.invalid) ? 'invalid' : ''">
      </div>

      <button class="btn btn-primary btn-block mb-5">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </span>
        {{isLoading ? '' : 'Save'}}
      </button>

      <hr>

      <button type="button"
              class="btn btn-primary btn-block mt-5"
              (click)="openResetPwModal()">Reset password
      </button>

    </form>
  </div>
</div>
