<div class="game-header">

  <div class="preparation" [@prepState]="animationState">
    <h3 *ngIf="showTimer" class="timer">{{getRoundTime() | formatTime}}</h3>
    <p>Preparation phase</p>
  </div>

  <div class="players" [@gameState]="animationState">
    <div class="player"
         *ngFor="let gamePlayer of sortGamePlayers()"
         [style.width.%]="100 / gamePlayers.length"
         [class]="getColor(gamePlayer.team)"
         [ngClass]="isCurrentTurn(gamePlayer.team) && !isInPreparation() ? 'current-player' : ''">
      <h3 [@timerState]
          *ngIf="showTimer && isCurrentTurn(gamePlayer.team) && !isInPreparation()"
          class="timer">{{getRoundTime() | formatTime}}</h3>
      <p
        [ngClass]="[isReady(gamePlayer.team) && !gamePlayer.computer ? 'ready' : '', isDead(gamePlayer.team) ? 'dead' : '', isAfk(gamePlayer.team) ? 'dead' : '']">
        <i *ngIf="isReady(gamePlayer.team) && !isDead(gamePlayer.team) && !gamePlayer.computer"
           class="fas fa-check"></i>
        <i *ngIf="!isReady(gamePlayer.team) && isDead(gamePlayer.team)"
           class="fas fa-skull-crossbones"></i>
        <i *ngIf="isAfk(gamePlayer.team) && !isDead(gamePlayer.team)"
           class="fas fa-user-clock"></i>
        {{gamePlayer.computer ? 'AI' : gamePlayer.player.playerName}}
      </p>
    </div>
  </div>

</div>
