@import "../../../../../customize-bootstrap";

.game-header {
  width: 100%;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
}

.preparation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 75%;
  background-color: rgba($egg-white, 0.5);
  text-align: center;

  p {
    font-size: 1.2rem;
  }
}

.players {
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    transition: 600ms all;
  }
}

.timer {
  font-weight: bold;
}

.current-player {
  p {
    font-size: 1.2rem;
  }
}

.yellow {
  background-color: rgba($orange, 0.5);
}

.green {
  background-color: rgba($green, 0.5);
}

.blue {
  background-color: rgba($blue, 0.5);
}

.red {
  background-color: rgba($red, 0.5);
}

.dead {
  color: lighten($onyx, 10%);
}

.ready {
  color: $onyx;
  font-weight: bold;
}
