.card-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.app-card {
  width: 300px;
  height: 300px;
}

.front, .back {
  width: 300px;
  height: 300px;
  transition: all 1.5s ease;
}

.dead {
  -webkit-filter: brightness(0.15);
  -moz-filter: brightness(0.15);
  filter: brightness(0.15);
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .app-card {
    width: 250px;
    height: 250px;
  }

  .front, .back {
    width: 250px;
    height: 250px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .app-card {
    width: 200px;
    height: 200px;
  }

  .front, .back {
    width: 200px;
    height: 200px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .app-card {
    width: 150px;
    height: 150px;
  }

  .front, .back {
    width: 150px;
    height: 150px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .app-card {
    width: 150px;
    height: 150px;
  }

  .front, .back {
    width: 150px;
    height: 150px;
  }
}
