<div *ngIf="visible" class="card-overlay">
  <div class="center">
    <app-card [flip]="revealed" [rightDirection]="false" class="app-card">
      <img front class="front" [src]="getBackImage(attacker)" alt="Attacker front">
      <img back [ngClass]="attacker.deadAnimation ? 'back dead' : 'back'" [src]="getPawnImage(attacker)" alt="Attacker back">
    </app-card>
    <app-card [flip]="revealed" [rightDirection]="true" class="app-card">
      <img front class="front" [src]="getBackImage(defender)" alt="Defender front">
      <img back [ngClass]="defender.deadAnimation ? 'back dead' : 'back'" [src]="getPawnImage(defender)" alt="Defender back">
    </app-card>
  </div>
</div>
