@import '~src/customize-bootstrap';
@import '../../../../../node_modules/swiper/dist/css/swiper.min.css';

.background {
  color: $onyx;
  background: /* top, transparent black, faked with gradient */
    linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ),
      /* bottom, image */
    url("../../../../assets/img/map.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: auto;
}

.friend-icon {
  padding-left: 0.4rem;
  display: none;
}

hr {
  margin-left: 0;
  width: 80%;
}

p:hover {
  text-decoration: white underline;
  cursor: pointer;
}

.fas:hover {
  text-decoration: none !important;
}

.playerList {
  display: flex;
  flex-direction: row;
  color: $egg-white;

  .players {
    padding-left: 15px;
  }

  .remove-icon {
    color: $red;
    display: none;
  }

  p:hover .remove-icon, p:hover .friend-icon {
    display: inline-block;
  }

  .vl {
    height: 75%;
    width: 0;
    border-left: 2px solid $egg-white;
    margin: 0 3rem 0 3rem;
  }

  .invite {
    font-size: 0.95rem;
    text-decoration: underline;
    color: $egg-white;
    cursor: pointer;

    &:hover {
      color: darken($egg-white, 20%);
    }
  }

  .difficulty {
    color: $egg-white;

    i:hover {
      color: darken($egg-white, 20%);
    }
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  button {
    width: 40%;
  }
}

.map-carousel {
  width: 620px;
  margin: 0 0 0 auto;
}

small {
  color: $egg-white !important;
}

.swiper-slide {
  width: 200px !important;
  height: 200px !important;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
    transition: linear 0.3s;
  }
}

.swiper-slide-active {
  width: 200px !important;
  height: 200px !important;

  img {
    width: 200px;
    height: 200px;
  }
}

.ready {
  color: $green;
}

.invite {
  color: $egg-white;
}

.btn-group {
  align-items: center;
}

// Progress button
#progress-button {
  color: #ffffff !important;
  background-color: transparent !important;

  position: relative;
  border: 2px solid inherit;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: 200ms ease-in;

  &:hover {
    box-shadow: inset 0px 0px 0px 3px $primary;
    transition: 200ms ease-out;
  }
}

.btn-progress {
  width: 0;
  max-width: 100%;
  height: 100%;
  background-color: $primary;
  position: absolute;
  top: 0;
  left: 0;
  transition: 150ms all;
}

.btn-progress-label {
  position: relative;
}

// Media queries
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .map-carousel {
    width: 470px;
    margin: 0 auto;
  }

  .swiper-slide {
    width: 150px !important;
    height: 150px !important;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .swiper-slide-active {
    width: 150px !important;
    height: 150px !important;

    img {
      width: 150px;
      height: 150px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .map-carousel {
    margin: 0 auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .title {
    font-size: 3rem;
  }

  .map-carousel {
    width: 320px;
  }

  .swiper-slide {
    width: 100px !important;
    height: 100px !important;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .swiper-slide-active {
    width: 100px !important;
    height: 100px !important;

    img {
      width: 100px;
      height: 100px;
    }
  }
}
