<div class="background">
  <div class="container-fluid">

    <div class="row justify-content-center text-center">
      <div class="col-12">
        <h1 class="title mb-5">{{getTitle()}}</h1>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12 col-lg-8">

        <div class="map-carousel">
          <swiper [config]="config"
                  class="swiper-container"
                  [index]="getBoardIndex()"
                  (indexChange)="handleBoardChange($event)">
            <div *ngFor="let board of boards" class="swiper-slider">
              <img [src]="board.url" [alt]="board.type" class="slide-img">
            </div>
          </swiper>
        </div>

        <div class="col-12 mt-5">

          <div class="row justify-content-start justify-content-lg-end">
            <label class="col-sm-4 col-form-label">Lobby visibility</label>
            <div class="btn-group col-sm-4" btnRadioGroup>
              <label btnRadio="Private"
                     [ngClass]="!isHost() && lobby?.publicAccess ? 'btn btn-primary disabled' : 'btn btn-primary'"
                     class="btn btn-primary"
                     tabindex="0"
                     [ngModel]="lobby?.publicAccess ? 'Private' : 'Public'"
                     [disabled]="true"
                     (click)="handleVisibilityChange(false)">Private</label>
              <label btnRadio="Public"
                     [ngClass]="!isHost() && !lobby?.publicAccess ? 'btn btn-primary disabled' : 'btn btn-primary'"
                     tabindex="0"
                     [ngModel]="lobby?.publicAccess ? 'Public' : 'Private'"
                     [disabled]="true"
                     (click)="handleVisibilityChange(true)">Public</label>
            </div>
          </div>

          <div class="form-group row justify-content-start justify-content-lg-end">
            <label for="preparationTimer" class="col-sm-4 col-form-label">Preparation time (sec)</label>
            <div class="col-sm-4">
              <input type="number"
                     class="form-control"
                     id="preparationTimer"
                     [value]="lobby?.gameRules.preparationTimer"
                     [disabled]="!isHost()"
                     min="1"
                     max="600"
                     (change)="handlePrepTimerChange($event)">
            </div>
          </div>

          <div class="form-group row justify-content-start justify-content-lg-end">
            <label for="turnTimer" class="col-sm-4 col-form-label">Turn timer (sec)</label>
            <div class="col-sm-4">
              <input type="number"
                     class="form-control"
                     id="turnTimer"
                     [value]="lobby?.gameRules.turnTimer"
                     [disabled]="!isHost()"
                     min="1"
                     max="600"
                     (change)="handleTurnTimerChange($event)">
            </div>
          </div>

          <div class="form-group row justify-content-start justify-content-lg-end">
            <label for="afkTimer" class="col-sm-4 col-form-label">AFK timer (sec)</label>
            <div class="col-sm-4">
              <input type="number"
                     class="form-control"
                     id="afkTimer"
                     [value]="lobby?.gameRules.afkTimer"
                     [disabled]="!isHost()"
                     min="1"
                     max="600"
                     (change)="handleAfkTimerChange($event)">
            </div>
            <small class="col-sm-8 text-muted justify-content-end">
              <i class="fas fa-info-circle"></i>
              Turn duration for an AFK player.
            </small>
          </div>

        </div>
      </div>

      <div class="playerList col-12 col-lg-4">

        <div class="vl d-none d-lg-block"></div>

        <div class="players mt-5 mt-lg-0">
          <h4 class="">Players in lobby</h4>

          <div *ngFor="let gamePlayer of sortedGamePlayers">
            <p [ngClass]="gamePlayer?.ready? 'ready' : ''">
              <i *ngIf="gamePlayer?.ready" class="fas fa-check"></i>
              <span *ngIf="gamePlayer.computer">AI</span>
              <span *ngIf="!gamePlayer.computer" class="lobby-playername"
                    (click)="handleStatsShow(gamePlayer.player.playerName)">
              {{gamePlayer.player.playerName}}
            </span>
              <i class="fas fa-user-alt friend-icon"
                 *ngIf="!gamePlayer.computer"
                 (click)="handleStatsShow(gamePlayer.player.playerName)"></i>
              <i class="fas fa-times remove-icon ml-3"
                 *ngIf="!gamePlayer.computer && !gamePlayer?.host && isHost()"
                 (click)="handlePlayerKick(gamePlayer.player.playerName)">
              </i>
              <span class="difficulty ml-3" *ngIf="gamePlayer.computer">
              <i *ngIf="getCurrentGamePlayer()?.host" class="fas fa-chevron-left mr-1"
                 (click)="handleDecreaseDifficulty(gamePlayer.team)"></i>
                {{gamePlayer.difficulty}}
                <i *ngIf="getCurrentGamePlayer()?.host" class="fas fa-chevron-right ml-1"
                   (click)="handleIncreaseDifficulty(gamePlayer.team)"></i>
            </span>
            </p>
            <hr>
          </div>

          <p class="invite"
             *ngIf="isHost()"
             (click)="openInviteModal()">+ invite a friend</p>
        </div>

      </div>
    </div>

    <div class="row justify-content-center mt-5 mb-5">
      <div class="buttons col-12 col-md-6 col-2">
        <button class="btn btn-outline-primary"
                id="progress-button"
                appHoldable
                tooltip="Hold the button to leave."
                (holdTime)="handleLeave($event)">
        <span class="btn-progress"
              [style.width.%]="leaveProgress"></span>
          <span class="btn-progress-label">Leave</span>
        </button>

        <button class="btn btn-primary"
                type="button"
                disabled
                *ngIf="isHost() && !areGamePlayerReady()">Waiting for players
        </button>
        <button class="btn btn-primary"
                type="button"
                *ngIf="isHost() && areGamePlayerReady()"
                (click)="handleGameStart()">Start
        </button>
        <button class="btn btn-primary"
                *ngIf="!isHost()"
                (click)="handleReadyChange()">
          {{getCurrentGamePlayer()?.ready ? 'Unready' : 'Ready'}}
        </button>
      </div>
    </div>

  </div>
</div>
