<div *ngIf="game"
     class="game"
     [style.background]="'url(' + backgroundImage +')'">

  <app-game-header
    [gamePlayers]="game.gamePlayers"
    [gameState]="game.gameState"
    [gameRules]="game.gameRules"
    [showTimer]="true"
    [actionEventObservable]="actionEventSubject.asObservable()">
  </app-game-header>

  <app-attack-cards
    [actionEventObservable]="actionEventSubject.asObservable()">
  </app-attack-cards>

  <app-board
    [type]="game.type"
    [gameObservable]="gameSubject.asObservable()"
    [actionEventObservable]="actionEventSubject.asObservable()"
    (move)="movePawn($event)">
  </app-board>

  <app-finish-screen
    [gameState]="game.gameState"
    [gamePlayers]="game.gamePlayers">
  </app-finish-screen>

</div>
