@import '../../../../../customize-bootstrap';

.board, .box {
  pointer-events: fill;
}

.board {
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;
  width: auto;
}

.color-team1 {
  fill: $blue;
}
