@import '~src/customize-bootstrap';

form > span {
  color: $egg-white;
}

.current-pw {
  margin-bottom: 0;
}

.link {
  color: $onyx !important;
  display: block;
  margin: 0.5rem 0 1rem 0.75rem;
  font-size: 0.95rem;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: darken($onyx, 80%) !important;
  }
}
