<div class="modal-header">
  <h5 class="modal-title pull-left font-weight-bold">Reset your password.</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="resetPwForm" (submit)="onSubmit()" #pwForm="ngForm">

    <span *ngIf="errorMessage" class="badge badge-danger error-message mb-2">
        <i class="fas fa-exclamation error-icon"></i>
      {{errorMessage}}
    </span>

    <span *ngIf="successMessage" class="badge badge-success success-message mb-2">
      <i class="fas fa-info success-icon"></i>
      {{successMessage}}
    </span>

    <div class="form-group current-pw">
      <input type="text"
             placeholder="Current password"
             class="form-control"
             formControlName="currentPw"
             [ngClass]="resetPwForm.get('currentPw').invalid && (!resetPwForm.pristine || resetPwForm.touched) || (pwForm.submitted && resetPwForm.get('currentPw').invalid) ? 'invalid' : ''">
    </div>
    <span (click)="openForgotPwModal()" class="link">Forgot your password?</span>

    <div class="form-group">
      <input type="text"
             placeholder="New password"
             class="form-control"
             formControlName="newPw"
             [ngClass]="resetPwForm.get('newPw').invalid && (!resetPwForm.pristine || resetPwForm.touched) || (pwForm.submitted && resetPwForm.get('newPw').invalid) ? 'invalid' : ''">
    </div>

    <div class="form-group">
      <input type="text"
             placeholder="Confirm password"
             class="form-control"
             formControlName="confirmPw"
             [ngClass]="resetPwForm.get('confirmPw').invalid && (!resetPwForm.pristine || resetPwForm.touched) || (pwForm.submitted && resetPwForm.get('confirmPw').invalid) ? 'invalid' : ''">
    </div>

    <button class="btn btn-primary btn-block" type="submit">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
        <span class="sr-only">Loading...</span>
      </span>
      {{isLoading ? '' : 'Reset password'}}
    </button>

  </form>
</div>
