<div class="background">
  <div class="container">

    <button class="btn btn-outline-primary float-right return mt-3" (click)="returnToMenu()">
      Main menu
      <i class="fas fa-bars"></i>
    </button>

    <h1 class="mt-5 text-center title">Statistics</h1>

    <div>
      <tabset >
        <tab heading="Timelines" id="tab1">
          <object class='tableauViz tab-hidden' style='display:none;' width="100%" height="100%">
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
            <param name='embed_code_version' value='3'/>
            <param name='site_root' value=''/>
            <param name='name' value='ISMTableau&#47;dates'/>
            <param name='tabs' value='no'/>
            <param name='toolbar' value='no'/>
            <param name='animate_transition' value='yes'/>
            <param name='display_static_image' value='no'/>
            <param name='display_spinner' value='yes'/>
            <param name='display_overlay' value='yes'/>
            <param name='display_count' value='yes'/>

          </object>
        </tab>
        <tab heading="Players">
          <object class='tableauViz tab-hidden' style='display:none;' width="100%" height="100%">
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
            <param name='embed_code_version' value='3'/>
            <param name='site_root' value=''/>
            <param name='name' value='ISMTableau&#47;playerStats'/>
            <param name='tabs' value='no'/>
            <param name='toolbar' value='no'/>
            <param name='animate_transition' value='yes'/>
            <param name='display_static_image' value='no'/>
            <param name='display_spinner' value='yes'/>
            <param name='display_overlay' value='yes'/>
            <param name='display_count' value='yes'/>
          </object>

        </tab>
        <tab heading="Teams & maps">
          <object class='tableauViz  tab-hidden' style='display:none;' width="100%" height="100%">
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
            <param name='embed_code_version' value='3'/>
            <param name='site_root' value=''/>
            <param name='name' value='ISMTableau&#47;TeamsMaps'/>
            <param name='tabs' value='no'/>
            <param name='toolbar' value='no'/>
            <param name='animate_transition' value='yes'/>
            <param name='display_static_image' value='no'/>
            <param name='display_spinner' value='yes'/>
            <param name='display_overlay' value='yes'/>
            <param name='display_count' value='yes'/>
          </object>

        </tab>
      </tabset>
    </div>

  </div>
</div>
