@import "~src/styles";

.background {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
  ),
  url("../../../../assets/img/map.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: $onyx;
  overflow: auto;
}

tabset, tab {
  width: 100%;
  height: 50rem;
  background-color: white;
}

object {
  html, body { height: 100% }
}



