@import '~src/customize-bootstrap';

.avatar-container {
  height: 128px;
  width: 128px;
  position: relative;
}

.avatar-spinner {
  margin-top: calc(50% - (16px / 2));
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: .3s ease;
  opacity: 0;
  background-color: $onyx;
}

.avatar-container:hover .avatar-overlay {
  opacity: 0.75;
}

.avatar-icon {
  color: $onyx;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-pen-square {
  color: $primary;
}

.avatar-file {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0;
  padding: 0;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .avatar-container {
    width: 96px;
    height: 96px;
  }

  .title {
    font-size: 4rem;
  }
}
