<div class="row d-inline-flex align-items-center justify-content-center">
  <div class="img-fluid rounded avatar-container mr-3">
    <img *ngIf="image" [src]="image | safeUrl" alt="avatar">
    <div *ngIf="!image" class="spinner-border spinner-border-sm avatar-spinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="avatar-overlay">
      <input type="file" class="avatar-file" (change)="selectFile($event)">
      <a class="avatar-icon">
        <input type="file" class="avatar-file" (change)="selectFile($event)">
        <i class="fas fa-pen-square fa-3x"></i>
      </a>
    </div>
  </div>
  <h1 class="title">Profile</h1>
</div>
<div class="row justify-content-center" *ngIf="errorMessage">
  <div class="col-8 col-sm-6 col-md-4">
  <span class="badge badge-danger error-message mb-2">
    <i class="fas fa-exclamation error-icon"></i>
    {{errorMessage}}
  </span>
  </div>
</div>
