<div *ngIf="isGameFinished()" class="overlay">
  <div class="content">
    <h1 *ngIf="existsWinningGamePlayer()">{{findWinningGamePlayer().player.playerName}} has won!</h1>
    <h1 *ngIf="!existsWinningGamePlayer()">All human players have been eliminated!<br>The game is a draw!</h1>
    <button class="btn btn-primary" (click)="returnToMenu()">Return to Menu</button>
  </div>
</div>
