.overlay {
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.content {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
