<div class="modal-header">
  <h4 class="modal-title pull-left">Invite a player</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #inviteForm="ngForm" (submit)="onInvite(inviteForm)">
    <div class="form-group">
      <input type="text" required ngModel placeholder="username" name="username" class="form-control">
    </div>
    <button class="btn btn-primary btn-block" type="submit">Invite</button>
  </form>
  <hr>
  <button class="btn btn-primary btn-block facebook" (click)="inviteWithFacebook()">Invite via Facebook <i class="fab fa-facebook"></i></button>
</div>
