@import "~src/styles";

.background {
  background: /* top, transparent black, faked with gradient */
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ),
      /* bottom, image */
    url("../../../../assets/img/field.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  position: relative;
}

.logout {
  i {
    padding-left: 0.4rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .title {
    font-size: 4rem;
  }
}
