<div class="background">
  <div class="container-fluid mb-5">

    <div class="row justify-content-end align-content-end">
      <div class="col-6 col-md-4 col-xl-2">
        <button class="logout btn btn-outline-primary float-right mt-3" (click)="onLogOut()" id="logout">Logout<i
          class="fas fa-sign-out-alt"></i></button>
      </div>
    </div>

    <div class="row justify-content-center text-center mt-5">
      <div class="col-12">
        <h1 class="title mb-5 mt-5">{{title}}</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-xl-3">
        <div class="menu-items">
          <button class="btn btn-block btn-primary" (click)="joinPublic()">Join game</button>
          <button class="btn btn-block btn-primary" (click)="createLobby()">Create game</button>
          <button class="btn btn-block btn-primary" routerLink="/replay">Replays</button>
          <button class="btn btn-block btn-primary" routerLink="/rules">Rules</button>
          <button class="btn btn-block btn-primary" routerLink="/statistics">Statistics</button>
          <button class="btn btn-block btn-primary" routerLink="/profile/stats">Profile</button>
        </div>
      </div>
    </div>

  </div>
</div>
