<div class="row justify-content-center text-center mt-5 stats">
  <div class="col-12 col-lg-2">
    <h1>{{gamesPlayed}}</h1>
    <p>Battles played</p>
  </div>
  <div class="vl d-none d-lg-block"></div>
  <hr class="d-block d-lg-none">
  <div class="col-12 mt-3 mt-lg-0 col-lg-2">
    <h1>{{gamesWon}}</h1>
    <p>Battles won</p>
  </div>
</div>
