@import '~src/customize-bootstrap';

.background {
  color: $onyx;
  background: /* top, transparent black, faked with gradient */
    linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ),
      /* bottom, image */
    url("../../../../assets/img/map.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.container {
  display: grid;
  grid-template-rows: 30fr 6fr 4fr;
  grid-template-areas: "icon" "text" "button-redirect";
}

.icons {
  grid-area: icon;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

i {
  font-size: 1500%;
}

.check-icon {
  color: $green;
}

.cross-icon {
  color: red;
}

.text {
  grid-area: text;
  text-align: center;
  font-size: 150%;
}

.button-redirect {
  grid-area: button-redirect;
  text-align: center;
}
