<div class="background">

  <div *ngIf="confirmation" class="container">
    <div class="icons">
      <i class="far fa-check-circle check-icon"></i>
    </div>
    <div class="text">
      {{message}}
    </div>
    <div class="button-redirect">
      <button class="btn btn-primary" (click)="redirectToLoginPage()">Let's play</button>
    </div>
  </div>

  <div *ngIf="!confirmation" class="container">
    <div class="icons">
      <i class="far fa-times-circle cross-icon"></i>
    </div>
    <div class="text">
      {{message}}
    </div>
    <div class="button-redirect">
      <button class="btn btn-primary" (click)="redirectToLoginPage()">Home page</button>
    </div>
  </div>

</div>
