@import '~src/customize-bootstrap';

.background {
  background: /* top, transparent black, faked with gradient */
    linear-gradient(
        rgba(0, 0, 0, 0.35),
        rgba(0, 0, 0, 0.35)
    ),
      /* bottom, image */
    url("../../../../assets/img/forest.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: $egg-white;
  display: block;
  overflow: auto;
}

.routing-animation {
  position: relative;
}
