<div class="background">
  <div class="container-fluid mb-5">

    <div class="row justify-content-end align-content-end">
      <div class="col-6 col-md-4 col-xl-2">
        <button class="btn btn-outline-primary return mt-3 float-right" (click)="returnToMenu()">Main menu<i
          class="fas fa-bars"></i></button>
      </div>
    </div>

    <div class="row text-center mt-5 mt-md-0">
      <div class="col-12 mt-5">
        <app-profile-title></app-profile-title>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6 mt-3">
        <app-profile-header></app-profile-header>
      </div>
    </div>

    <div [@routeAnimation]="getPosition(profileOutlet)" class="routing-animation">
      <router-outlet #profileOutlet="outlet"></router-outlet>
    </div>

  </div>
</div>
