<div [ngClass]="flip ? (rightDirection ? 'flipper rotate-right' : 'flipper rotate-left') : 'flipper'">
  <div class="front">
    <ng-content select="[front]"></ng-content>
  </div>
  <div class="back">
    <ng-content select="[back]"></ng-content>
  </div>
</div>
