@import "../../../../styles";

.modal-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.player-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-left: 1rem;
}

img {
  height: 64px;
  width: 64px;
  margin-right: 1rem;
}

.stat-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.stat-specific-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
