<div class="modal-header">

  <h1 class="modal-title pull-left">
    <img *ngIf="profilePicture" [src]="transformImage()" alt="avatar">
    {{playerName}}
  </h1>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>

</div>

<div class="modal-body">
  <div class="stat-container">

    <div *ngIf="success" class="col-12 col-lg-4 stat-specific-container">
      <h1>{{playerStats.gamesWon}}</h1>
      <p>Battles won</p>
    </div>

    <div *ngIf="success" class="col-12 col-lg-4 stat-specific-container">
      <h1>{{playerStats.gamesPlayed}}</h1>
      <p>Battles played</p>
    </div>
  </div>

  <div class="col-12 col-lg-12" *ngIf="!success">
    <p class="error-message">{{errorMessage}}</p>
  </div>
</div>
