<div class="modal-header">
  <h1 class="modal-title pull-left">Add a friend</h1>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="add-friend-form" (submit)="onSearchFriend(searchFriendForm)" #searchFriendForm="ngForm" ngNativeValidate>
    <div class="input-group mb-3">

      <input type="text"
             name="searchValue"
             id="searchValue"
             class="form-control mr-1"
             placeholder="Name"
             required
             [ngClass]="searchFriendForm.invalid && (!searchFriendForm.pristine || searchFriendForm.touched) || (searchFriendForm.submitted && usernameForm.invalid) ? 'invalid' : ''"
             ngModel
             #usernameForm="ngModel">
      <button type="submit" value="Submit" class="btn btn-primary pull-right"><i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>

  <div *ngIf="searched && searchResult.length === 0">
    No players found
  </div>
  <div class="friend-list" *ngFor="let result of searchResult">
    <div class="d-flex friend">
      {{result.playerName}}
      <div class="flex-grow-1"></div>
      <div *ngIf="!isFriend(result.playerName)">
        <i class="fas fa-plus icon-friend" (click)="addFriend(result.playerName)"></i>
      </div>
      <div *ngIf="isFriend(result.playerName)">
        <i class="fas fa-times icon-friend" (click)="removeFriend(result.playerName)"></i>
      </div>
    </div>
  </div>
</div>
