<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{content}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-block" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
