<div class="background">
  <div class="container-fluid mb-5">

    <div class="row justify-content-end align-content-end">
      <div class="col-6 col-md-4 col-xl-2">
        <button class="btn btn-outline-primary return float-right mt-3" (click)="returnToMenu()">Main menu<i
          class="fas fa-bars"></i></button>
      </div>
    </div>

    <div class="row justify-content-center text-center mt-5">
      <div class="col-12">
        <h1 class="title">Rules</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-10 rulesBox">
        <h3 class="explainHeader">What?</h3>
        <p class=" explain">All players start with 24 pawns. One of those pawns is the player's flag.
          The purpose of the game is to capture the others' flags and defend your own flag.</p>

        <h3 class=" explainHeader mt-4">Preparation phase</h3>
        <p class=" explain">
          Each player gets, a by the host, set time to place his pawns on the board.
          When the preparation timer runs out the
          remaining pawns will be randomly placed on the board.
          The placement of the pawns is only visible to the player to which they belong.
        </p>

        <h3 class=" explainHeader mt-4">Gameplay</h3>
        <p class=" explain">
          Once the preparation phase has ended, it is time to battle until only one player is left standing!
        </p>

        <h3 class="explainHeader mt-4">Pawns</h3>

        <div *ngFor="let pawn of pawns" class="d-inline-block mr-4 mt-2">
          <img [ngClass]="activePawn === pawn.name ? 'pawnImg active' : 'pawnImg'"
               (click)="pawnClick(pawn.name)"
               [src]="'../../../../assets/img/ranks/blue/blue-' + pawn.name.toLowerCase() + '.svg'"
               alt="{{pawn.name}}">
        </div>

        <div class="card col-12 col-xl-8 flex-column flex-md-row align-items-start align-items-md-center"
             *ngIf="activePawn">
          <img [src]="'../../../../assets/img/ranks/blue/blue-' + activePawn.toLowerCase() + '.svg'"
               class="card-img-top "
               alt="{{activePawn}}">
          <div class="card-body">
            <h5 class="card-title">{{activePawn}}</h5>
            <p class="card-text explanation">{{getDescription()}}</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
