@import '~src/customize-bootstrap';
@import '../../../../../node_modules/swiper/dist/css/swiper.min.css';
@import "~src/styles";

.background {
  background: /* top, transparent black, faked with gradient */
    linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ),
      /* bottom, image */
    url("../../../../assets/img/civil-war.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: $onyx;
  overflow: auto;
}

.explainHeader {
  border-bottom: 1px solid $primary;
  color: $primary;
}

.explanation {
  color: $onyx;
}

.card {
  color: $primary;
  margin-top: 1rem;
  border: none;
  background-color: transparent;
}

.card-img-top {
  padding-top: 1rem;
  width: 10rem;
  height: 10rem;
}

.pawnImg {
  height: 3rem;
  width: 3rem;
}

.rulesBox {
  background: rgba($egg-white, 0.85);
  border-radius: 0.25rem;
  padding: 2rem;
}



