<div class="modal-header">
  <h5 class="modal-title pull-left">Choose your username.</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="login-form" (submit)="registerWithSocial(username)" #usernameForm="ngForm" ngNativeValidate>
      <span *ngIf="errorMessage" class="badge badge-danger error-message mb-2">
        <i class="fas fa-exclamation error-icon"></i>
        {{errorMessage}}
      </span>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fa fa-user"></i></span>
      </div>
      <input type="text"
             name="username"
             id="username"
             class="form-control"
             placeholder="Username*"
             required
             [ngClass]="usernameInput.invalid && (!usernameForm.pristine || usernameForm.touched) || (usernameForm.submitted && usernameInput.invalid) ? 'invalid' : ''"
             [(ngModel)]="username"
             #usernameInput="ngModel">
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-block" (click)="register()">Continue registration</button>
</div>

