@import 'customize-bootstrap.scss';
@import '../node_modules/bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.facebook {
  background-color: $facebook-color;
}

.google {
  background-color: $google-color;
}

.google, .facebook {
  color: $white;
}

.google:hover, .facebook:hover {
  color: $white;
}

.google:hover {
  background-color: darken($google-color, 10%);
}

.facebook:hover {
  background-color: darken($facebook-color, 10%);
}

.title {
  font-size: 5.5rem;
  padding-bottom: 0.75rem;
  font-family: 'Charm', cursive;
  background: linear-gradient(to right, $primary 0%, lighten($primary, 20%) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-group-text {
  background-color: $egg-white;

  > i {
    color: lighten($onyx, 10%);
  }
}

.form-control {
  color: $onyx;
  background-color: $egg-white;

  &:focus {
    background-color: lighten($egg-white, 3%);
  }

  &:disabled {
    background-color: darken($egg-white, 10%);
  }
}

.invalid {
  border-color: $red;
}

hr {
  border-top: 2px solid $egg-white;
}

.alert-danger {
  color: $red;
}

.error-icon, .success-icon {
  padding-right: 0.1rem;
}

.error-message, .success-message {
  display: inline-table;
  padding: .5rem;
  text-align: left;
  width: 100%;
}

.swiper-button-next {
  left: 433px !important;
  background-image: url('~src/assets/img/arrow-right.svg') !important;
}

.swiper-button-prev {
  left: 160px !important;
  background-image: url('~src/assets/img/arrow-left.svg') !important;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.c-pointer {
  cursor: pointer;
}

.return {
  i {
    padding-left: 0.4rem;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darken($egg-white, 10%);
  -webkit-transition: .4s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  box-shadow: 1px 1px 1px 0 $onyx;
}

input:checked + .slider {
  background-color: $green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  box-shadow: -1px 1px 1px 0 $onyx;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#boardsvg {
  width: 100%;
  height: 100%;
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .swiper-button-prev {
    left: 112px !important;
  }

  .swiper-button-next {
    left: 332px !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .swiper-button-prev {
    left: 62px !important;
  }

  .swiper-button-next {
    left: 232px !important;
  }
}
