<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/stats" routerLinkActive="active">Stats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/notifications" routerLinkActive="active">Notifications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/privacy" routerLinkActive="active">Privacy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile/settings" routerLinkActive="active">Settings</a>
  </li>
</ul>
