<div class="background">
  <div class="row justify-content-end align-content-end">
    <div class="col-6 col-md-4 col-xl-2">
      <button class="btn btn-outline-primary return float-right mt-3" (click)="returnToMenu()">Main menu
        <i class="fas fa-bars"></i></button>
    </div>
  </div>

  <div class="container">

    <div class="row justify-content-center text-center">
      <div class="col-12">
        <h1 class="title mb-5">Replays</h1>
      </div>
    </div>

    <div class="row justify-content-center">
      <div *ngIf="replays.length === 0" class="col-12 col-md-10">
        No replays were found.
      </div>
      <div *ngFor="let replay of replays" class="col-12 col-md-10">

        <app-replay-list-item
          [id]="replay.id"
          [boardType]="replay.boardType"
          [endTime]="replay.endTime"
          [victory]="replay.victory">
        </app-replay-list-item>

      </div>
    </div>

  </div>
</div>
