@import "../../../../styles";

.background {
  background: /* top, transparent black, faked with gradient */
    linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ),
      /* bottom, image */
    url("../../../../assets/img/library-of-alexandria.jpg") no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
}
