@import "~src/styles.scss";

.replay {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: auto;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25%;
  margin-right: 7rem;
  border: solid $egg-white 2px;
  border-radius: .25rem;
  background-color: rgba($egg-white, 0.3);
}

.turn-text {
  color: $onyx;
  font-weight: bold;
}

.turn-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-block {
  margin-top: 0;
}

.return {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 2rem 2rem 0 0;
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
  .control-panel {
    top: 50%;
    left: 50%;
    width: 30rem;
    margin-left: -15rem;
  }

  .replay {
    min-height: 1025px;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .replay {
    min-height: 825px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .replay {
    min-height: 625px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .control-panel {
    top: 60%;
    left: 50%;
    width: 18rem;
    margin-left: -9rem;
  }

  .replay {
    min-height: 475px;
  }
}
