<div *ngIf="replay"
     class="replay"
     [style.background]="'url(' + backgroundImage +')'">

  <button class="btn btn-primary return" (click)="returnToReplays()">
    Return
    <i class="fas fa-bars"></i>
  </button>

  <app-game-header
    [gamePlayers]="replay.gamePlayers"
    [gameState]="replay.gameState"
    [actionEventObservable]="actionEventSubject.asObservable()">
  </app-game-header>

  <app-attack-cards
    *ngIf="showCards"
    [actionEventObservable]="actionEventSubject.asObservable()">
  </app-attack-cards>

  <app-board
    [type]="replay.type"
    [gameObservable]="gameSubject.asObservable()"
    [actionEventObservable]="actionEventSubject.asObservable()">
  </app-board>

  <div class="control-panel">
    <div class="d-block m-1 m-sm-3 mt-3">
      <progressbar [max]="replay.events.length" [value]="currentEvent"><i class="turn-text">Turn {{currentEvent}}
        of {{replay.events.length}}</i></progressbar>
    </div>
    <div class="turn-controls">
      <button [disabled]="playing" (click)="fastBackward()" class="btn btn-block btn-primary m-1 m-sm-3">
        <i class="d-none d-sm-inline-block fas fa-fast-backward fa-2x"></i>
        <i class="d-inline-block d-sm-none fas fa-fast-backward fa-lg"></i>
      </button>
      <button [disabled]="playing" (click)="previousEvent()" class="btn btn-block btn-primary mr-1 mr-sm-3 mt-3 mb-3">
        <i class="d-none d-sm-inline-block fas fa-step-backward fa-2x"></i>
        <i class="d-inline-block d-sm-none fas fa-step-backward fa-lg"></i>
      </button>
      <button (click)="togglePlay()" class="btn btn-block btn-primary m-1 m-sm-3">
        <i *ngIf="playing" class="d-none d-sm-inline-block fas fa-pause fa-2x"></i>
        <i *ngIf="playing" class="d-inline-block d-sm-none fas fa-pause fa-lg"></i>
        <i *ngIf="!playing" class="d-none d-sm-inline-block fas fa-play fa-2x"></i>
        <i *ngIf="!playing" class="d-inline-block d-sm-none fas fa-play fa-lg"></i>
      </button>
      <button [disabled]="playing" (click)="nextEvent()" class="btn btn-block btn-primary ml-1 ml-sm-3 mt-3 mb-3">
        <i class="d-none d-sm-inline-block fas fa-step-forward fa-2x"></i>
        <i class="d-inline-block d-sm-none fas fa-step-forward fa-lg"></i>
      </button>
      <button [disabled]="playing" (click)="fastForward()" class="btn btn-block btn-primary m-1 m-sm-3">
        <i class="d-none d-sm-inline-block fas fa-fast-forward fa-2x"></i>
        <i class="d-inline-block d-sm-none fas fa-fast-forward fa-lg"></i>
      </button>
    </div>
  </div>

</div>
