<div class="app">
  <div class="chat-header c-pointer" (click)="closeTab()">
    <i class="fas fa-user-friends"></i><span>Friends</span>
  </div>

  <div class="chat-body">

    <!--FRIENDS-->
    <div *ngIf="friends.length === 0" class="friend-list">
      <div class="d-flex friend"><i class="far fa-sad-tear"></i><span>No friends</span>
      </div>
    </div>

    <div *ngIf="friends.length > 0" class="friend-list">
      <div *ngFor="let friend of friends">
        <div class="d-flex friend pl-4">
          {{friend.playerName}}
          <div class="flex-grow-1"></div>
          <i class="fas fa-user-alt icon-friend" (click)="openGamePlayerStatsModal(friend.playerName)"></i>
          <i class="fas fa-times icon-friend" (click)="removeFriend(friend.playerName)"></i>
        </div>
      </div>
    </div>

    <hr class="separation-line">

    <!--FRIEND REQUESTS-->
    <div *ngIf="friendRequests.length > 0">
      <div class="friend-list">
        <i class="fas fa-user-plus"></i>
        <h6 class="d-inline-block">Friend requests</h6>

        <div *ngFor="let friend of friendRequests">
          <div class="d-flex friend pl-4">
            {{friend.playerName}}
            <div class="flex-grow-1"></div>
            <i class="fas fa-user-alt icon-friend" (click)="openGamePlayerStatsModal(friend.playerName)"></i>
            <i class="fas fa-plus icon-friend" (click)="acceptFriendRequest(friend)"></i>
          </div>
        </div>
      </div>

      <hr class="separation-line">
    </div>

    <!--ADD FRIEND-->
    <div class="add-friend c-pointer" (click)="openAddFriendModal()">
      <i class="fas fa-plus"></i>
      <h6 class="d-inline-block">Add friend</h6>
    </div>

    <!--RECENTLY PLAYED-->
    <div *ngIf="recentlyPlayedPlayers.length > 0">
      <hr class="separation-line">

      <div class="recently-played">
        <i class="far fa-clock"></i>
        <h6 class="d-inline-block">Recently played</h6>
      </div>
      <div class="friend-list" *ngFor="let playedPlayer of recentlyPlayedPlayers">
        <div class="d-flex friend pl-4">
          {{playedPlayer.playerName}}
          <div class="flex-grow-1"></div>
          <i class="fas fa-user-alt icon-friend" (click)="openGamePlayerStatsModal(playedPlayer.playerName)"></i>
          <i *ngIf="!isFriend(playedPlayer.playerName)"
             class="fas fa-plus icon-friend"
             (click)="addFriend(playedPlayer.playerName)"></i>
          <i *ngIf="isFriend(playedPlayer.playerName)"
             class="fas fa-times icon-friend"
             (click)="removeFriend(playedPlayer.playerName)"></i>
        </div>
      </div>
    </div>

  </div>
</div>
