@import "../../../../styles";

.app {
  //give parent 100% to work with fr
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 9.5fr;
  grid-template-areas: "chat-header" "chat-body";
}

.chat-header {
  grid-area: chat-header;
  height: 100%;
  background-color: $primary;
  color: white;
  display: flex;
  align-items: center; /* align vertical */
  padding-left: 15px;
  font-size: 175%;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.chat-body {
  grid-area: chat-body;
  background-color: white;
  overflow-y: scroll;
}

.friend {
  align-items: center;
}

.friend-list {
  color: $primary;
  padding: 10px;

  i {
    padding-right: 0.4rem;
  }
}

.separation-line {
  background-color: $primary;
  width: 85%;
  height: 2px;
  border: none;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.icon-friend {
  align-self: center;
  display: none;
  padding-left: 8px;
  cursor: pointer;
}

.friend:hover .icon-friend {
  display: block;
}

.add-friend {
  color: $primary;
  padding: 10px;

  span, i {
    cursor: pointer;
  }

  i {
    padding-right: 0.4rem;
  }
}

.add-friend:hover {
  text-decoration: underline;
}

.recently-played {
  color: $primary;
  padding-left: 10px;

  i {
    padding-right: 0.4rem;
  }
}

i {
  margin-right: 0.4rem;
}
