<div class="con" *ngIf="isAuth">

  <div *ngFor="let tab of tabs; let i = index">

    <div class="tab-container"
         [style.left.px]="i * tabOffset"
         [style.width.px]="tabWidth"
         *ngIf="!tab.disabled">

      <div [ngClass]="tab.open ? 'tab' : 'tab tab-hidden'">
        <ndc-dynamic [ndcDynamicComponent]="tab.component"
                     [ndcDynamicInputs]="createInputs(tab)">
        </ndc-dynamic>
      </div>

      <div (click)="toggleTabOpen(tab.label)"
           [ngClass]="tab.open ? 'unselectable c-pointer tab-link tab-link-show' : 'unselectable c-pointer tab-link'">
        {{tab.label}}
      </div>

    </div>

  </div>

</div>
