@import "../../../../styles";

.tab-container {
  position: fixed;
  bottom: 0;
  padding: 0;
  margin-left: 5px;
  z-index: 999;
  color: $egg-white;
}

.tab-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  background-color: $primary;
  padding-left: 6px;
  border: 1px solid white;
}

.tab-link-show {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.tab {
  height: 400px;
  background-color: $primary;
  border-bottom: 1px solid white;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.tab-hidden {
  visibility: hidden;
  height: 0;
  border: none;
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  .tab-container {
    width: 200px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

}
