<div class="row justify-content-center mt-5">
  <div class="col-lg-5 col-sm-7 col-9">
    <div class="form-group row">
      <label class="col-8 col-form-label">Hide your stats from other players</label>
      <div class="col-4">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
</div>
